<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Genres</title>
</head>
<body>
    <%@genres.each do |genre| %>
    <td><%= link_to genre.name, genre %></td>
        
    <% end %>
</body>
</html>